{{#app-page
  repo='ui-navigator-service'
  subHeading='A simple service to inject meta-info about the current route into your controllers and components'
  repoOwner='lifegadget'
}}

<h3>Choose a route:</h3>
<ul>
  <li>{{#link-to 'application'}}[root app]{{/link-to}}</li>
  <li>{{#link-to 'foo'}}foo{{/link-to}}</li>
  <li>{{#link-to 'foo.bar'}}foo.bar{{/link-to}}</li>
  <li>{{#link-to 'foo.bar.baz'}}foo.bar.baz{{/link-to}}</li>
  <li>{{#link-to 'foo.new'}}foo.new{{/link-to}}</li>
</ul>

<h3>Navigator says:</h3>
<ul>
  <li>currentPath: <span class="answer">{{navigator.currentPath}}</span></li>
  <li>currentRouteName: <span class="answer">{{navigator.currentRouteName}}</span></li>
</ul>

<ul>
  <li>
    currentNode: <span class='answer'>{{navigator.currentNode}}</span>
  </li>
  <li>
    isIndexRoute: <span class='answer boolean'>{{navigator.isIndexRoute}}</span>
  </li>
  <li>
    primaryRoute: <span class='answer'>{{navigator.primaryRoute}}</span>
  </li>
  <li>
    secondaryRoute: <span class='answer'>{{navigator.secondaryRoute}}</span>
  </li>
</ul>

{{outlet}}

{{/app-page}}
